<link rel="stylesheet" type="text/css" href="/css/main.css">
<a href="#menu-toggle" class="btn btn-default" id="menu-toggle"><i class="fa fa-bars fa-2x"></i></a>
<div class="container">
    <div class="push-down center">
        <marquee behavior="scroll" direction="left" style="color: #189FD6"><b style="color: #D70011">Alerts: </b>{{#each alerts}}{{msg}} - {{/each}}</marquee>
        <br><br>
        <header>
            <!--May need Php to determine the avatar-->
            <img src="https://mcapi.ca/avatar/2d/{{name}}" alt="">
            <!--May need Php to determine the name-->
            <h1>{{name}}</h1>
            <!--May need Php to determine the rank-->
            <h2>Rank: <a href="#">{{rank}}</a></h2>
        </header>
        <section class="tabs container">
            <div>
                <ul class="nav nav-tabs">
                    <li>
                        <a href=".tab1"><h4>Global</h4></a>
                    </li>
                    <li>
                        <a href=".tab2"><h4>AdvancedPvP</h4></a>
                    </li>
                    <li class="active">
                        <a href=".tab3"><h4>Forums</h4></a>
                    </li>
                </ul>
            </div>
            <center>
            <section class="tab-content hide tab1">
                <font size="10" color="#7CE6C0">Global Statistics:</font>
                <h3>
                    <li><b>First Login Date:</b> {{dateJoined}}</li>
                    <li><b>Hours Played on BreakMC:</b> Coming Soon</li>
                    <li><b>Number of Logins:</b> {{logins}}</li>
                </h3>
            </section>
            
            <section class="tab-content hide tab2">
               <font size="10" color="#7CE6C0">AdvancedPvP Statistics:</font>
                <h3>
                    <li><b>Team Name:</b> Coming soon</li>
                    <li><b>Balance:</b> {{bal}}</li>
                </h3>
            </section>
            
            <section class="tab-content active tab3">
               <font size="10" color="#7CE6C0">Site and Forums Statistics:</font>
                <h3>
                    <li style="width: 50%"><b>Amount of Posts:</b> {{postAmount}}</li>
                    <li><b>Amount of Votes:</b> {{voteAmount}}</li>
                    <br><br><br><br>
                    <div id="forumRecent">
                        <h3 style="color: #00A8E6">Recent Forum Activity:</h2>
                        {{#each recent}}
                            <li class="recent">
                                <p>
                                    <b>Post:</b> {{post}}
                                    <br>
                                    <b>Type:</b> {{type}}
                                </p>
                            </li>
                        {{/each}}
                    </div>
                </h3>
            </section>
        </section>
    </center>
<!--                 <h2>Forum Activity</h2>
                <h4>Total posts: {{postAmount}}</h4>
                <br>
                {{#each recent}}
                <li>
                    <p>
                    </p>
                </li>
                {{/each}} -->
    </div>
</div>
</div>
<!--
                JQuery
-->
<style type="text/css">
    li {  
        line-height: 110%;
    }
    .recent {
        line-height: 130%;
    }
    #forumRecent {
        padding: 10px;
        background-color: #383838
    }
</style>
<script>
            $("#menu-toggle").click(function(e) {
                e.preventDefault();
                $("#wrapper").toggleClass("toggled");
            });
</script>
<script>
            $(document).ready(function() {
                $('.nav-tabs > li > a').click(function(event){
                event.preventDefault();//stop browser to take action for clicked anchor
                //get displaying tab content jQuery selector
                var active_tab_selector = $('.nav-tabs > li.active > a').attr('href');
                //find actived navigation and remove 'active' css
                var actived_nav = $('.nav-tabs > li.active');
                actived_nav.removeClass('active');
                //add 'active' css into clicked navigation
                $(this).parents('li').addClass('active');
                //hide displaying tab content
                $(active_tab_selector).removeClass('active');
                $(active_tab_selector).addClass('hide');
                //show target tab content
                var target_tab_selector = $(this).attr('href');
                $(target_tab_selector).removeClass('hide');
                $(target_tab_selector).addClass('active');
                });
            });
</script>
</body>
